<div class="container-fluid">
  <div *ngIf="loading" class="text-center">
    <app-loader></app-loader>
  </div>
  <app-repository-details [repository]="repository|async"></app-repository-details>
</div>