<div class="row search-result-line" *ngFor="let searchLine of searchResultLines">
  <div class="col-md-4 search-result-container" *ngFor="let aSearchResult of searchLine">
    <app-search-result-item [searchResult]="aSearchResult" [routerLink]="['/repository', aSearchResult.owner, aSearchResult.name]"></app-search-result-item>
  </div>
</div>