<div *ngIf="repository">
  <div class="page-header">
    <h1 class="title">
      <small>#{{repository.id}}</small>
      {{repository.name}}
    </h1>
    <a class="subtitle" target="_blank" [href]="repository.htmlUrl">{{repository.htmlUrl}}</a>
  </div>
  <div class="row">
    <div class="col-sm-7">
      <p>{{repository.description || "-no description available-"}}</p>
    </div>
    <div class="col-sm-5">
      <app-repository-owner [owner]="repository.owner"></app-repository-owner>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="row repo-stats-container">
        <div class="col-xs-4">
          <app-stats-indicator [numberIndicator]="repository.forksCount"
                               [textIndicator]="'Forks'"></app-stats-indicator>
        </div>
        <div class="col-xs-4">
          <app-stats-indicator [numberIndicator]="repository.stargazersCount"
                               [textIndicator]="'Stargazers'"></app-stats-indicator>
        </div>
        <div class="col-xs-4">
          <app-stats-indicator [numberIndicator]="repository.openIssuesCount"
                               [textIndicator]="'Open Issues'"></app-stats-indicator>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <div class="chart">
        <canvas baseChart [data]="pieChart.data" [labels]="pieChart.labels" [chartType]="pieChart.type"></canvas>
      </div>
    </div>
    <div class="col-sm-8">
      <div class="chart-fluid text-center">
        <app-loader *ngIf="loadingCommitsChart"></app-loader>
        <canvas baseChart *ngIf="!loadingCommitsChart" [datasets]="commitsChart.data" [labels]="commitsChart.labels"
                [options]="{responsive: true}" [chartType]="commitsChart.type"></canvas>
      </div>
    </div>
  </div>
  <div class="page-header">
    <h4>Issues</h4>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-repository-issues [repository]="repository"></app-repository-issues>
    </div>
  </div>
</div>