.repository-owner-container {
  padding: 1.2em;
  border-radius: 0.25em;
  background-color: white;
  img.avatar {
    max-width: 100%;
    max-height: 8em;
  }
  .owner-name{
    margin-bottom: 0.1em;
  }
}