<div class="repository-owner-container" *ngIf="owner">
  <div class="row">
    <div class="col-xs-4">
      <img class="avatar" [src]="owner.avatarUrl">
    </div>
    <div class="col-xs-8">
      <h4 class="owner-name"><small>#{{owner.id}}</small> {{owner.name}}</h4>
      <a class="owner-link" target="_blank" [href]="owner.htmlUrl">{{owner.htmlUrl}}</a>
    </div>
  </div>
</div>