<div class="search-result">
  <div class="row">
    <div class="col-md-12">
      <h4>{{searchResult.fullName}}</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span>{{searchResult.htmlUrl}}</span>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <span>{{searchResult.description}}</span>
    </div>
  </div>
  <div class="row text-center">
    <div class="col-xs-4">
      <app-stats-indicator [numberIndicator]="searchResult.forksCount" [textIndicator]="'Forks'"></app-stats-indicator>
    </div>
    <div class="col-xs-4">
      <app-stats-indicator [numberIndicator]="searchResult.stargazersCount" [textIndicator]="'Stargazers'"></app-stats-indicator>
    </div>
    <div class="col-xs-4">
      <app-stats-indicator [numberIndicator]="searchResult.openIssuesCount" [textIndicator]="'Open issues'"></app-stats-indicator>
    </div>
  </div>
  <div class="row">

  </div>
</div>