<div class="alert" [ngClass]="classes" role="alert">
  <button *ngIf="dismissible" type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <ng-content></ng-content>
</div>