<div class="panel panel-default" *ngIf="!!issue">
  <div class="panel-heading">
    <h3 class="panel-title">{{issue.number}}. {{issue.title}}</h3>
  </div>
  <div class="panel-body">
    <pre>
      {{issue.body}}
    </pre>
  </div>
</div>