<app-loader *ngIf="loading"></app-loader>
<div class="row" *ngFor="let anIssue of issues|async">
  <div class="col-md-12">
    <app-repository-issue [issue]="anIssue"></app-repository-issue>
  </div>
</div>