<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <app-search-trigger [promptText]="searchPrompt" [searchTerm]="searchTerm"
                          (searchQueryChanged)="onSearchQueryChanged($event)"></app-search-trigger>
    </div>
  </div>
  <div class="row results-container">
    <div class="col-md-12">
      <app-search-results-list [searchResults]="searchResults"></app-search-results-list>
    </div>
    <div *ngIf="loading" class="text-center" style="padding: 25px">
      <app-loader></app-loader>
    </div>
    <div class="text-center" style="margin-bottom: 1em;" *ngIf="!loading && hasMore">
      <button type="button" class="btn btn-primary" (click)="loadNextPage()">Load more</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <app-alert *ngIf="routeChangeError||searchError" [alertType]="'alert-warning'">
        <strong>Warning!</strong> There was an error searching for a repository. <a class="alert-link" (click)="recoverFromError()">Try again.</a>
      </app-alert>
    </div>
  </div>
</div>